/* UNIVERSAL STYLINGS */
html {
    height: 100%;
    font-size: 22px;
}

body {
    line-height: 1.4;
}

/* NAV */
nav {
    background-color: #062743;
}

.logo {
    height: 8rem;
    width: 8rem;
}

.btn {
    background-color: white;
}

/* MAIN HEADER */
.jumbotron-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../images/project2-jumbo.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 80vh;
    margin-bottom: 0;
}

.jumbotron-fluid h3 {
    text-align: left;
    color: white;
    padding-top: 6rem;
    padding-left: 2rem;
}

.jumbotron-fluid p {
    text-align: left;
    color: white;
    padding-top: .5rem;
    padding-left: 2rem;
}

.jumbotron-fluid .btn {
    margin-left: 2rem;
}

button a {
    color: black;
    font-weight: 500;
}

/* WHAT MAKES US DIFFERENT */
.white {
    padding: 2rem 4rem 4rem 4rem;
}

.white p {
    color: black;
}

.white h2 {
    text-decoration: underline;
}

/* HOW IT WORKS */
.gray {
    background-color: lightgray;
    padding: 4rem;
}

.gray p {
    color: black;
}

.gray h2 {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    border-top: 2px solid black;
    padding: 1rem 0;
}

footer p {
    display: inline;
    color: black;
    font-weight: bold;
}

/* ------------------ */
/* ------------------ */

/* PAGE2 */
#page2 .container-fluid {
    margin: 1rem;
}

#page2 .card {
    margin: 1rem;
}

#page2 .card-body {
    text-align: center;
    background-color: #062743;
    color: white;
    border: 2px solid #ff7a8a;
}

#page2 .card a {
    font-weight: bold;
    /* border: 2px solid #ff7a8a; */
    margin-top: .5rem;
    display: block;
}

.btn-blue {
    background-color: rgb(3, 163, 236);
}
